.page-content {
  display: none;
}

.none {
  display: none !important;
}

.view {
  display: block !important;
}

.objInfo {
  display: flex;
  background: #575757;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  transition: all 1200ms cubic-bezier(0.86, 0, 0.07, 1);
  position: relative;
  text-align: left;
}

.objInfo img {
  width: auto;
  height: 170px !important;
  padding: 5px;
}

.objInfo.info-open {
  bottom: 0;
}

.objInfo > div {
  width: 77.6%;
}

.objInfo .tab-close {
  position: relative;
  top: -6px;
}

.objInfo .tab-close:hover {
  color: #fff;
}

.scriptBox li img {
  cursor: pointer;
}

.objBox {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
}
.objBox:hover {
  background-color: #0043a560;
}

.objBox01 {
  width: 30px;
  height: 20px;
  top: 78px;
  left: 53px;
}

.objBox02 {
  width: 76px;
  height: 25px;
  top: 135px;
  left: 135px;
}

.objBox03 {
  width: 30px;
  height: 19px;
  top: 79px;
  left: 98px;
}

/* script */
.iframe-bg {
  background-color: #dddddd;
  width: 762px;
  height: 820px;
}

.script-content-blank,
.script-content {
  padding: 1.5rem;
}
